/*general*/

.body {
	font-family: sans-serif;
}
.h {
	font-weight: bold;
	color: #e9ecef;
}
.h9 {
	font-weight: bold;
	color: #ececec;
}
section {
	padding: 65px 0 80px 0;
}
section .heading {
	text-align: center;
	padding-bottom: 40px;
}
.divider {
	width: 100px;
	height: 2px;
	background-color: rgb(46, 39, 124);
	margin: 0 auto 20px;
}
#row {
	text-align: center;
}
ul {
	list-style: none;
}
/* Navbar */

.navbarveille {
	background-color: #0B0A2C;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid white;
	text-align: center;
	margin: 0 6px;
	margin: 0 auto;
}
.veilletexte {
	background-color: #16CDF6;
	font-weight: bold;
}
.navbar {
	background-color: #7142DD;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid white;
}
.navbar-nav {
	margin: 0 auto;
	text-align: center;
}
.nav-link {
	color: white !important;
	margin: 0 6px;
}
.nav-link.active, .nav-link:hover {
	background-color: white;
	color: #2caad8 !important;
}
/*Projets*/

#Projets {
	background-color: rgba(34, 82, 114, 0.477);
}


/*Veille technolo
#Veilletechnologique {
	background-image: url("");
	
}
.card-img-bottom {
	margin: auto;
	margin-bottom: 20px;
}
/*about*/

#about {
	position: relative;
	background-color: transparent;
  }
  
#about::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("https://images8.alphacoders.com/123/1239331.jpg");
	background-size: cover;
	filter: blur(3px);
	z-index: -1;
  }

.profile-picture{
	filter: blur(15px);
}

.background-image {
	backdrop-filter: blur(10px);
}
.TITRE {
	font-weight: bold;
}
.dev {
	border-radius: 10px;
}
#veilleimage {
	background-color: #184f95;
	background-image: url("");
}
.profile-picture {
	text-align: center;
	margin: 0px auto 30px;
}
#container-fluid {
	background-image: url("https://images8.alphacoders.com/123/1239331.jpg");
	background-image: blur(4px);
}
#veilletechno {
	background-image: url("https://images8.alphacoders.com/123/1239331.jpg");
	background-image: blur(4px);
}
img {
	max-width: 100px;
	height: auto;
}
#about .heading h1 {
	color: white;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#about .heading h3 {
	margin-bottom: 20px;
}
.heading1 {
	text-align: center;
	margin-bottom: 20px;
	color: rgb(46, 39, 124);
}
.button1 {
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	border: 1px solid white;
	padding: 18px 50px;
	display: inline-block;
	border-radius: 3px;
	text-decoration: none;
	margin-top: 20px;
	transition: all 0.3s ease-in 0s;
	background-color: black;
}
.button1:hover {
	background: white;
	color: #d82c2e;
}
.btn btn primary {
	background-color: rgb(40, 14, 93);
	;
}
section .heading h2 {
	text-transform: uppercase;
}
#skilss .heading1 h2 {
	color: red;
}
.progress {
	height: 45px;
	margin: 30px 20px;
}
.progress last-child {
	margin-bottom: 0px;
}
.progress-bar {
	background-color: #7142DD;
}
/* EXPERIENCE*/

#experience {
	background-color: #7142DD;
}
#experience .heading h2 {
	color: white;
}
.divider.white {
	background-color: white;
}
.timeline {
	padding: 30px 10px;
	position: relative;
}
.timeline:before {
	content: " ";
	top: 0;
	bottom: 0;
	position: absolute;
	width: 5px;
	background-color: #333;
	left: 50%;
	margin-left: -2.5px;
}
.timeline>li {
	margin-bottom: 20px;
	position: relative;
}
.timeline>li:before, .timeline>li:after {
	content: " ";
	display: table;
}
.timeline>li:after {
	clear: both;
}
.timeline li .timeline-badge {
	color: #d82c2e;
	width: 50px;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50px;
	margin-left: 563px;
	background-color: #ddd;
	border-radius: 50%;
}
.timeline-panel-container {
	width: 50%;
	float: left;
}
.timeline-panel-container-inverted {
	width: 50%;
	float: right;
}
.timeline-panel {
	width: 90%;
	float: right;
	margin-right: 40px;
	border: 1px solid #d4d4d4;
	border-radius: 7px;
	padding: 20px 25px;
	position: relative;
	box-shadow: 0 1px 6px rgba(0.0.0 0.175);
	background-color: #fff;
}
.timeline-panel-container-inverted .timeline-panel {
	float: left;
	margin-left: 40px;
}
.timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}
.timeline-heading h3 {
	margin-top: 5px;
	font-size: 20px;
}
.timeline-heading h4 {
	color: rgb(46, 39, 124);
}
/* EDIC*/

#education .heading1 h2 {
	color: rgb(46, 39, 124);
	margin: 15px 0px;
}
#CONTAINEREDUC {
	margin-left: 1000px;
}
.education-block {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 30px;
	background: #e9ecef;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	margin-left: 50px;
}
.education-block h5 {
	color: #888;
	font-size: 15px;
	margin-bottom: 15px;
}
.education-block h3 {
	color: rgb(46, 39, 124);
	margin: 15px 0px;
}
.education-block span {
	font-size: 35px;
}
/*footer*/

footer {
	background-color: #7142DD;
	padding: 20px 0 40px;
}
.m {
	color: white;
}
